.Elemento1, .Elemento2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif
}

.Elemento1 {
    background-color: black;
    color: white;
}

.Elemento2 {
    background-color: yellow;
    color: black;
}